body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    align-content: left;
    padding-left: 30px;
}

/* NAVIGATION BAR */
.nav {
    display: flex;
    /* flex-direction: row; */
    background-color: rgb(37, 37, 37);
    font-weight: bold;
    color: white;
}

.header-logo img {
    display: inline-flex;
    flex-direction: row;
    padding: 10px;
    width: 30px;
    height: auto;
    align-content: center;
}

.header-logo h1 {
    display: inline-flex;
    font-size: 48px;
    font-weight: bold;
    height: 100%;
    color: #F9FAF8;
    padding-left: 30px;
    font-family: 'Roboto', arial;
}

.header-links {
    display: flex;
    margin-left: auto;
    padding: 0px 50px 0px 0px; 
    align-items: center;
}

.header-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    width: max-content;
}


/* WELCOME SCREEN */
.welcome {
    height: 600px;
    flex-direction: row;
    align-items: center;
    background-color: rgb(37, 106, 181);
}

.welcome-text {
    font-size: 65px;
    align-items: center;
    color: white;
}